nav h1 {
	color: #33CC33;
}
h2 {
	text-align: center;
}
h4 {
	color: #FFCCFF;
}
body {
	background-image: url(/static/1024px-Internet1-2.png);
	width: auto;
	margin-bottom: 100px;
	background-size: cover;
}