{% extends 'squelette.html' %}

{% block titre %}
{{ titre }}
{% endblock %}

{% block corps %}
<form method="POST">
       <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"><label for="titre">Titre :</label>
    	        <input type="text" name="titre" value="{{ title }}"></input>
                    <label for="lien">Lien :</label>
                    <input type="url" name="lien" value="{{ url }}"></input>
             </div>
             <div class="col-md-1"></div>
             <div class="col-md-4"><h4 id="noir">Choisissez une catégorie : </h4></div>
             <div class="col-md-2"><select name="categorie" size="5">
               <option value="divers" selected>Divers
               <option value="articles">Articles
               <option value="github">GitHub
               <option value="videos">Videos
               <option value="docs">Docs
               <option value="e-learning">E-learning
               <option value="detente">Detente
                    </select>
             </div>
             </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5"<label for="description"><h4 id="noir" text-align="center"> Description :</h4></label></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1"><textarea class="form-control" rows="5" name="description" placeholder="Merci de rajouter une description ici :">{{ descr }}</textarea>
            </div>
        </div>
        <div class="row">
              <div class="col-md-10 col-md-offset-1"><br /><input type="submit" class="btn btn-success"  name="submit" value="{{ bouton }}"></input><input type="hidden" name="id" value="{{ id }}" /></div>
        </div>
</form>
{% endblock %}